.header{
    padding-top: 15px;
    padding-bottom: 64px;
    .continer__header{
        
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1B152B;
        border-radius: 47px;
        color: #fff;
        img a{
            width: 172.25px;
        }
        .header__links ul{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        ul a{
            color: #fff;
            text-decoration: none;
            font-family: 'Inter';
            font-size: 16px;
            transition: all 0.5s;
            &:hover{
                color: #1B152B;
            }
        }
        button{
            @extend %buttons;
        }
    }
}

@media screen and (max-width: 768px) {
  .continer{
    max-width: 540px;
  }  
  .continer__header{
    position: relative;
    .header__links{
        display: none;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0px;
        ul{
            flex-direction: column;
            background-color: #1B152B;
            width: 100%;
           text-align: center;
           padding: 20px;
           border-bottom-left-radius: 47px;
           border-bottom-right-radius: 47px;
        }
    }
    button{
        display: none;
    }
    #chek:checked ~ .header__links{
        display: block;
  }
  
}
}