.title{
    margin-bottom: 48px;
    .continer__title{
        h1{
            font-family: 'Inter';
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 16px;
            text-align: center;
        }
        p{
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: #7A7D9C;
            margin-bottom: 16px;
            text-align: center;
        }
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .buttons{
                @extend %buttons;
                background-color: #1B152B !important;
            }
            .green{
                @extend %buttons;
            }
        }
    }
}
.continer__img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

@media screen and (max-width: 992px){
    .continer{
        max-width: 720px;
    }
    .title .continer__title{
        h1{
            font-size: 49px;
        }
       
    }
}
@media screen and (max-width: 768px) {
    .continer{
        max-width: 540px;
    }
    .title .continer__title{
        h1{
            font-size: 36px;
        }
       
    }
}
@media screen and (max-width: 540px) {
    .continer{
        max-width: 300px;

    }
    .title .continer__title{
        h1{
            font-size: 20px;
        }
    }
}